.navbar-collapse .collapse {
  height: 90px;
  justify-content: space-between;
}
.navbar-collapse .collapse.NavItem {
  margin: 70px;
}
.navbar-collapse .collapse.brandText {
  color: white;
}
.NavItem {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.NavItem:hover {
  background-color: rgb(211, 211, 211);
}

.dropdown-menu.show.dropdown-menu-end {
  background-color: rgb(255, 255, 255);
  max-width: 200px;
  text-align: center;
}
.dropdown-menu.show {
  text-align: center;
  width: 300px;
}
.dropdownCategories {
  margin-left: 15px;
  max-width: 80px;
  text-align: center;
}
.SearchBtn {
  margin: auto;
  margin-right: 5px;
}
.BtnLight {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  margin: auto;
  height: 70%;
  width: 20%;
  text-align: center;
}
.BtnDark {
  color: white;
  background-color: rgb(0, 0, 0);
  height: 70%;
  margin: auto;
  border-radius: 10px;
  width: 20%;
  text-align: center;
}
.searchInput {
  margin-bottom: 10px;
  min-height: 50px;
}

/* MEDIA */

@media (min-width: 990px) {
  .searchForm {
    height: 90%;
    margin: auto;
  }
}
@media (max-width: 990px) {
  .dropdown-menu.show {
    text-align: center;
    position: relative;
    max-width: 196px;
    position: static;
    border: none;
  }
  .dropdown-menu.show.dropdown-menu-end {
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    text-align: center;
    border: 1px rgba(128, 128, 128, 0.144) solid;
  }
  .BtnLight {
    color: rgb(0, 0, 0);
    background-color: white;
    margin: 0;
    margin-top: 5px;
    border-radius: 10px;
    height: 60%;
    width: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .BtnDark {
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 0;
    margin-top: 5px;
    height: 60%;
    width: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 668px) {
  .BtnLight {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    height: 60%;
    width: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .BtnDark {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 60%;
    width: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 620px) {
  .BtnLight {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    height: 60%;
    width: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .BtnDark {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 60%;
    width: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
