.navbar-collapse .collapse {
  height: 90px;
  justify-content: space-between;
}
.navbar-collapse .collapse.NavItem {
  margin: 70px;
}
.navbar-collapse .collapse.brandText {
  color: white;
}
.NavItem {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.NavItem:hover {
  background-color: rgb(211, 211, 211);
}

.dropdown-menu.show.dropdown-menu-end {
  background-color: rgb(255, 255, 255);
  max-width: 200px;
  text-align: center;
}
.dropdown-menu.show {
  text-align: center;
  width: 300px;
}
.dropdownCategories {
  max-width: 200px;
  text-align: center;
  
}
.SearchBtn {
  margin-top: 5px;
  margin-right: 10px;
}
.BtnLight {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  width: 20%;
  text-align: center;
}
.BtnDark {
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 20%;
  text-align: center;
}

/* MEDIA */
@media (max-width: 990px) {
  .dropdown-menu.show {
    text-align: center;
    position: relative;
    max-width: 196px;
    position: static;
    border: none;
  }
  .dropdown-menu.show.dropdown-menu-end {
    background-color: rgb(255, 255, 255);
    max-width: 200px;
    text-align: center;
    border: 1px rgba(128, 128, 128, 0.144) solid;
  }
}
