.Cards-List {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.253);
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(134, 134, 134, 0.973);
}
@media (max-width: 1130px) {
  .Cards-List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1230px) {
  .Cards-List .card-text {
    display: none;
  }
  .Cards-List .cardPrice {
    display: contents;
  }
}
@media (max-width: 678px) {
  .Cards-List {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .Cards-List .card-text {
    display: contents;
  }
  .Cards-List .card-title {
    margin-bottom: 10%;
  }
}
